/kodilla-testing
/kodilla-stream
/kodilla-rps
/kodilla-exception
/kodilla-spring-intro
/kodilla-good-patterns
/kodilla-spring-web

.gradle
/build/

!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/